﻿@model Lab.Practica3.EF.Entities.Dto.SuppliersDto
@{
    ViewBag.Title = "Administrar Suppliers";
}
<html>
<body>
    <div class="container">
        <h2>Administrar Suppliers</h2>

        <hr style="color: #0056b2;" />
        <br>
        <h5>Agregue un nuevo Supplier:</h5>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">CompanyName:</span>
            <input type="text" class="form-control" id="companyName" placeholder="" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">ContactName:</span>
            <input type="text" class="form-control" id="contactName" placeholder="" aria-describedby="basic-addon2">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">ContactTitle:</span>
            <input type="text" class="form-control" id="contactTitle" placeholder="" aria-describedby="basic-addon2">
        </div>
        <button id="crear" type="button" class="btn btn-info">Crear</button>
        <br>
        <br>
        <div class="mb-3">
            <h5>Modifique un Supplier ingresando su ID:</h5>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">SupplierID:</span>
                <input type="text" class="form-control" id="supplierId" placeholder="" aria-describedby="basic-addon3 basic-addon4">
            </div>
            <div class="form-text" id="basic-addon4">Solo agreguelo si desea modificar un Supplier existente</div>
        </div>
        <button id="update" type="button" class="btn btn-info">Modificar</button>

        <br>
        <br>
    </div>
</body>
</html>
@section Scripts{
    <script type="text/javascript" charset="utf-8">
        const crearBoton = document.getElementById("crear");
        const updatearBoton = document.getElementById("update");
        const companyName = document.getElementById("companyName");
        const contactName = document.getElementById("contactName");
        const contactTitle = document.getElementById("contactTitle");
        const supplierId = document.getElementById("supplierId");

        crearBoton.addEventListener("click", () => {
            if (validarCadena(companyName.value.trim()) && validarCadena(contactName.value) && validarCadena(contactTitle.value)) {
                $.ajax({
                    url: '@Url.Action("Administrator", "Suppliers")',
                    type: 'POST',
                    data: {
                        companyName: companyName.value,
                        contactName: contactName.value,
                        contactTitle: contactTitle.value
                    },
                    success: function (data) {
                        if (data.result) {
                            Swal.fire({
                                title: 'Bien!',
                                text: 'Supplier creado!',
                                icon: 'success',
                                confirmButtonText: 'OK',
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "index";
                                }
                            });
                        } else {
                            const dataError = data.textStatus.toString();
                            Swal.fire(
                                'Error!',
                                '' + dataError,
                                'error'
                            );                       
                        }
                        console.log(data);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error(xhr);
                    }
                });
            }
            else {
                Swal.fire(
                    'Error!',
                    'Usaste un caracter especial o dejaste vacio, en alguno de las cajas de texto',
                    'error'
                );
            }
        });

        updatearBoton.addEventListener("click", () => {
            if (validarCadena(companyName.value.trim()) && validarCadena(contactName.value) && validarCadena(contactTitle.value)) {
                if (isNaN(supplierId.value) || supplierId.value < 1) {
                    Swal.fire(
                        'Error!',
                        'No se pudo updatear, ingreso mal el ID, por favor volver a intentar!',
                        'error'
                    );
                } else {
                    $.ajax({
                        url: '@Url.Action("Administrator", "Suppliers")',
                        type: 'POST',
                        data: {
                            supplierId: supplierId.value,
                            companyName: companyName.value,
                            contactName: contactName.value,
                            contactTitle: contactTitle.value
                        },
                        success: function (data) {
                            if (data.result) {
                                console.log(data);
                                Swal.fire({
                                    title: 'Bien!',
                                    text: 'Supplier modificado!',
                                    icon: 'success',
                                    confirmButtonText: 'OK',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = "index";
                                    }
                                });
                            } else {
                                const dataError = data.textStatus.toString();
                                Swal.fire(
                                    'Error!',
                                    '' + dataError,
                                    'error'
                                );
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.error(xhr);
                        }
                    });
                }
            }
            else {
                Swal.fire(
                    'Error!',
                    'Usaste un caracter especial o dejaste vacio un cuadrito de texto',
                    'error'
                );
            }
        });

        function validarCadena(cadena) {
            var regex = /^[a-zA-Z0-9 ]*$/;
            return regex.test(cadena);
        }

    </script>
}


