
/* Estilos para el diálogo de confirmación de eliminación */

/* Estilo del contenedor principal */
.dialog-container {
    text-align: center;
    padding: 24px;
  }
  
  /* Estilo del título */
  .dialog-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
  
  /* Estilo del botón de eliminar */
  .delete-button {
    background-color: #e53935; /* Color rojo */
    color: white;
    margin-right: 16px;
  }
  
  /* Estilo del botón de cancelar */
  .cancel-button {
    background-color: #757575; /* Color gris */
    color: white;
  }
  
  /* Estilo de los botones */
  .dialog-buttons {
    margin-top: 24px;
  }
  
  /* Cambia el color del botón cuando se pasa el mouse */
  .delete-button:hover, .cancel-button:hover {
    background-color: #d32f2f; /* Cambia el color a un tono más oscuro de rojo al pasar el mouse */
  }