<app-navbar></app-navbar>
<h1 mat-typography class="title">Suppliers List</h1>
<hr class="linea" style="color: #0056b2;" />
<div class="bodyHome">
  <mat-form-field>
    <mat-label>Filter (hace click a SupplierID)</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Sino no ves la lista" #input> 
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort >
        <ng-container matColumnDef="SupplierID">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> SuppliersId </th>
          <td mat-cell *matCellDef="let element"> {{element.SupplierID}} </td>
        </ng-container>
        <ng-container matColumnDef="CompanyName">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> CompanyName </th>
          <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
        </ng-container>
        <ng-container matColumnDef="ContactName">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> ContactName </th>
          <td mat-cell *matCellDef="let element"> {{element.ContactName}} </td>
        </ng-container>
        <ng-container matColumnDef="ContactTitle">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header> ContactTitle </th>
          <td mat-cell *matCellDef="let element"> {{element.ContactTitle}} </td>
        </ng-container>
        <ng-container matColumnDef="accionEdit">
          <th mat-header-cell *matHeaderCellDef  >Edit </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="example-button-container">
              <button mat-mini-fab color="warn" (click)="editSupplier(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </div> 
          </td>
        </ng-container>
        <ng-container matColumnDef="accionDelete">
          <th mat-header-cell *matHeaderCellDef  >Delete </th>
          <td mat-cell *matCellDef="let element"> 
            <div class="example-button-container">
              <button mat-mini-fab color="warn" (click)="deleteSupplier(element.SupplierID)">
                <mat-icon>delete</mat-icon>
              </button>
            </div> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
         <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td> 
        </tr> 
     </table>
     <mat-paginator [pageSize]="10"
     [pageSizeOptions]="[5, 10, 25, 100]"
     aria-label="Select page">
   </mat-paginator>   
     <button mat-raised-button class="addButton" color="accent" (click)="createNewSupplier()">Create new Supplier</button>
   </div>
  </div>
<hr class="linea" style="color: #0056b2;" />
<footer>
  <div class="container">
    <p>© 2023 Nicolas Brites - Practica Angular</p>
  </div>
</footer>